fastapi
uvicorn
gunicorn
SQLAlchemy
sqlmodel
asyncpg
pydantic
psycopg2-binary
pydantic_core
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
websockets
stripe
# Optional extras you listed:
annotated-doc
annotated-types
anyio
async-timeout
certifi
click
greenlet
h11
httpcore
httpx
idna
nexus-rpc
protobuf
starlette
temporalio
types-protobuf
typing-inspection
typing_extensions